.about__container {
  display: grid; /* Grid layout'u etkinleştirin */
  grid-template-columns: 1fr; /* Varsayılan olarak tek sütun */
  column-gap: 1.875rem;
  row-gap: 1.875rem; /* Küçük ekranlar için satır aralığı ekleyin */
  padding-left: 1.875rem; /* Soldan boşluk ekleyin */
}

.about__data {
  display: grid; /* Grid layout'u etkinleştirin */
  padding: 1.875rem;
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: 1fr; /* Varsayılan olarak tek sütun */
  column-gap: 1.875rem;
  align-items: flex-start;
  position: relative;
  padding-left: 1.875rem; /* Soldan boşluk ekleyin */
}

.about__data::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid var(--container-color);
  position: absolute;
  left: -0.93rem;
  top: 20%;
}

.about__description {
  margin-bottom: 1rem;
  text-align: justify;
}

.about__skills {
  display: grid; /* Grid layout'u etkinleştirin */
  row-gap: 1.25rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__number {
  line-height: 1.2;
}

.skills__bar,
.skills__percentage {
  height: 7px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: grey;
}

.skills__percentage {
  display: block;
}

.development {
  width: 90%;
  background-color: blue;
}

.ui-design {
  width: 60%;
  background-color: rgb(92, 209, 255);
}

.photography {
  width: 80%;
  background-color: rgb(255, 92, 209);
}

.about__boxes {
  display: grid; /* Grid layout'u etkinleştirin */
  grid-template-columns: 1fr; /* Varsayılan olarak tek sütun */
  column-gap: 1.875rem;
  row-gap: 1.875rem; /* Küçük ekranlar için satır aralığı ekleyin */
  margin-top: 4.25rem;
}

.about__box {
  display: flex;
  column-gap: 1.5rem;
}

.about__icon {
  font-size: var(--h1-font-size);
  color: #dedeea;
}

.about__title {
  font-size: 1.875rem;
}
.section__title {
  padding-left: 1.75rem; /* Soldan boşluk ekleyin */
  margin-bottom: 1rem; /* Daha iyi boşluk yönetimi için */
}
/* Daha büyük ekranlar için medya sorguları */
@media (min-width: 768px) {
  .about__container {
    grid-template-columns: 3fr 9fr;
  }

  .about__data {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .about__boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}
